<div class="container">
  <div class="row">
    <h2>SyphanHub</h2>
    <p>Abaixo estão as tasks em aberto</p>
    <button (click)="onDelete()" [disabled]="isButtonDisabled">
      <mat-icon>delete</mat-icon>
      <em>Apagar todos</em>
    </button>
    <button (click)="onFormOpen()">
      <mat-icon>add</mat-icon>
      <em>{{addButtonText}}</em>
    </button>
    <hr/>

    <form (submit)="onSubmit($event)" *ngIf="isFormOpen">
      <input type="text" name="title" placeholder="Title" [value]="editTask.title">
      <input type="text" name="description" placeholder="Description" [value]="editTask.description">
      <input type="text" name="status" placeholder="Status" [value]="editTask.status">
      <input type="date" name="dueDate" placeholder="Due date" [value]="editTask.dueDate">
      <button class="submitButton" type="submit">
        <mat-icon>save</mat-icon>
        <em>Salvar</em>
      </button>
    </form>

    <div class="imageSection" *ngIf="!isFormOpen && taskList.length == 0">
      <div>
        <img src="{{imagesPath}}work-time.svg">
      </div>
      <div>
        <h3>Você não possui nenhuma task</h3>
        <p>Suas tasks cadastradas irão aparecer aqui</p>
      </div>
    </div>
    <div *ngIf="taskList && !isFormOpen">
      <div *ngFor="let task of taskList; let count = index;" style="background-color: #e9e9e9; padding: 20px; border-radius: 6px; display: flex;">
        <div style="display: flex; justify-content: center; align-items: center; margin-right: 20px; border-right: 1px solid black; padding-right: 25px;">
          <p style="font-size: 20px;">{{count + 1}}</p>
        </div>
        <div class="taskListDataSection">
          <p style="font-weight: 600;">{{task.title}}</p>
          <p>{{task.description}}</p>
          <p>{{onFormatDate(task.dueDate)}}</p>
        </div>
        <div class="taskListButtonDeleteSection">
          <button (click)="onEditTask(task)">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onDelete(task.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
