<div class="container">
  <div class="row">
    <h2>SyphanHub</h2>
    <p>Abaixo estão as tasks em aberto</p>

    <form (submit)="onSubmit($event)">
      <input type="text" name="title" placeholder="Title">
      <input type="text" name="description" placeholder="Description">
      <input type="text" name="status" placeholder="Status">
      <input type="text" name="dueDate" placeholder="Due date">
      <button type="submit">Cadastrar</button>
    </form>
  </div>

  <hr/>

  <button (click)="onDelete()">Apagar todos</button>

  <div *ngFor="let task of taskList">
    <p>{{task.id}}</p>
    <p>{{task.title}}</p>
    <p>{{task.description}}</p>
    <hr>
  </div>
</div>
