.container {
  width: 100%;
}

.row {
  padding: 30px 10%;
}

h2 {
  font-weight: 300;
  margin: 0;
  font-size: 30px;
  color: #272727;
}

p {
  font-weight: 200;
  margin: 10px 0;
  color: #272727;
  font-size: 18px;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  color: #fff;
  background-color: #c20984;
  border-style: none;
  border-radius: 6px;
}

button {
  cursor: pointer;
}
